:root{
    // Primary Color 
    --Moderate-cyan: hsl(176, 50%, 47%);
    --Dark-cyan: hsl(176, 72%, 28%);

    // Neutral Color
    --black-color: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 48%); 

     // Box-shadow
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    // Font
    --font: 'Commissioner', san-serif;

    // line
    --line: rgba(31, 29, 29, 0.1);
}

*, *::before, *::after, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-size: 16px;
    font-family: var(--font);
    background: rgb(240, 240, 240);
    position: relative;
}

a{
    text-decoration: none;
    color: #fff;
}

.main{
    background: url(../images/image-hero-mobile.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    
}

// Header and Navigation

.header{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo{
        z-index: 9999;
    }


   
}

.nav{
    position: absolute;
    overflow: hidden;
    z-index: 999;
    height: 200vh;
    width: 100%;
    background: linear-gradient(to bottom, var(--line) 50% , rgba(255, 255, 255, 0.5)   );
    left: 0;
    right: 0;
    backdrop-filter: blur(.5px);
    visibility: hidden;

    .nav-item{
        position: absolute;
        z-index: 999;
        top: 55%;
        left: 2rem;
        right: 2rem;
        background: #fff;
        border-radius: 8px;
        box-shadow: var(--box-shadow);
        visibility: hidden;
        transform: translateY(-30px);
        opacity: 0;
        transition: .3s ease;
        
        
           a{
              text-decoration: none;
              color: var(--black-color);
            }

         .nav-list{
             padding: 2rem 1.5rem;
             list-style-type: none;
             font-size: 1.3rem;
            font-weight: 500;
             border-bottom: 1px solid rgba(31, 29, 29, 0.1);
            
        }

    }
    
}


.nav.active{
    visibility: visible;
    overflow: hidden;
    position: fixed;

     .nav-item{
       visibility: visible;
       opacity: 1;
       transform: translateY(0);
    }

}

.body.active{
    overflow: hidden;
}

// Hambuger icon and close button
.btns{
    display: flex;
    cursor: pointer;
    z-index: 9999;

    .nav-menu{
        display: block;
    }

    .nav-menu-close{
        display: none;
    }
}

.btns.active{

    .nav-menu{
        display: none;
    }

    .nav-menu-close{
        display: block;
    }
}


.section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-body{
    background: rgb(255, 255, 255);
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: -15%;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    position: relative;
    
    .m-logo{
        position: absolute;
        top: -10%;
        left: 43%;
        right: 43%;
        transform: translateY(-50%, -50%);

        img{
            width: 50px;
            height: 50px;
        }

    }

    .text1{
        text-align: center;
        padding-top: 13%;

        h1{
            font-size: 1.5rem;
            padding: 0 15%;
            font-weight: 700;
        }

        p{
            padding: 10px 5% 20px;
            font-size: 1.09rem;
            color: var(--dark-gray);
        }
    }
}


.back-the-pjt{
    display: flex;
    margin: 0 5% 10%;
    justify-content: space-around;
    align-items: center;
    


    .btp{
        height: 50px;
        width: 100%;
        max-width: 200px;
        background: var(--Moderate-cyan);
        border-radius: 100px;
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .bmk-setting{
        color: var(--dark-gray);
        cursor: pointer;

        i{
            height: 55px;
            width: 55px;
            background: rgba(17, 17, 17, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }

        h2{
            display: none;
        }
    }
}

.bmk-setting.active{
    color: rgba(247, 243, 243, .9);

    i{
        background: var(--Dark-cyan);
    }
}
.bmk-setting.inactive{
    color: rgba(248, 200, 200, 0.9);

    i{
        background: var(--Dark-cyan);
    }
}

// Modal

.btp-modal{
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    

}

.btp-modal.active{
    visibility: visible;
    transition: .5s ease;
    opacity: 1;

    .modal-container{
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-container{
    background: #fff;
    margin: 8% 2rem;
    bottom: 100px;
    border-radius: 8px;
    padding-bottom: 10px;
    transform: translateY(-25px);
    opacity: 0;
    transition: .3s ease;

    .modal-top{
        position: relative;
        display: flex;
        align-items: center;

        h2{
            padding: 2rem 1.5rem 0;
            font-size: 1.2rem;
        }

        .modal-close{
            position: absolute;
            right: 0;
            top: 0;
            margin: 2.4rem 1.5rem;
            cursor: pointer;
        }

    }

    >p{
        margin: 1.3rem 1.5rem;
        color: var(--dark-gray);
        font-size: 1rem;
    }

   
}

.modal-card{
    margin:  0 1.5rem 2rem;
    border: 1.5px solid rgba(31, 29, 29, 0.2);
    border-radius: 10px;
    padding: 1rem ;
    position:relative;

    .top-flex{
        display: flex;
        align-items: center;
        margin-bottom: 9%;
        position: relative;
        cursor: pointer;

        .circle{
            position: absolute;
            height: 25px;
            width: 25px;
            border: 1px solid  rgba(31, 29, 29, 0.1);
            border-radius: 50%;
            margin-right: 5%;

            .inner-circle{
                position: relative;
                top : 50%;
                left: 50%;
                right: 50%;
                transform: translate(-50%, -50%);
                height: 12.5px;
                width: 12.5px;
                background: var(--Dark-cyan);
                border-radius: 50%;
                visibility: hidden;
            }
        }

        h2{
            font-size: 1.1rem;
            font-weight: 700;
            
           
        }

        h3{
            margin-left: 2.3rem;
            width: 100%;
            line-height: 28px;
            margin-left: 2.3rem;
            span{
                display: block;
                color: var(--Moderate-cyan);
                
            }
        }

    }
    p{
        margin-right: 8%;
        font-size: 1rem;
        color: var(--dark-gray);
        margin-bottom: 10px;
    }

    h4{
        font-size: 1.1rem;
        color: var(--dark-gray);
        margin-bottom: 10px;

        span{
            font-size: 5.2vw;
            color: var(--black-color);
            margin-right: 3px;
        }
    }
    

}

.modal-card:not(:last-child).active{
    border: 2px solid hsl(176, 50%, 47%);

    .enter-pledge{
        display: block;
    }

    .top-flex{

        .inner-circle{
            visibility: visible;
        }
    }

}

.enter-pledge{
    margin-top: 8%;
    text-align: center;
    display: none;

    
    .eyp{
        display: block;
        font-size: 1.1rem;
        color: var(--dark-gray);
        font-weight: 500;
        padding-top: 6%;


    }
    .br1{
        position: absolute;
        width: 100%;
        margin-top: -5.5%;
        border-top: 2px solid rgba(31, 29, 29, 0.1);
        left: 0;
    }

    .align{
        display: flex;
        justify-content: space-around;
        margin-top: 8%;
        padding-bottom: 30px;
        position: relative;

        .input-icon{
            position: relative;
            input{
                
                text-align: center;
                outline: none;
                border: 1px solid rgba(31, 29, 29, 0.1);
                height: 50px;
                font-size: 1.2rem;
                font-family: 'Commissioner', sans-serif;
                width: 100px;
                border-radius: 90px;
                
            }
            i{
                position: absolute;
                top: 0;
                left: 0;
                margin: 15px 15px;
            }
        }
        button{
            border: none;
            background: var(--Moderate-cyan);
            color: #fff;
            font-size: 1rem;
            padding: 2% 8%;
            border-radius: 500px;
            cursor: pointer;
        }
    }
}

.modal-card:last-child{
    opacity: .5;
}

::-webkit-outer-spin-button, ::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.section2{
    margin-top: 30px;
    margin-bottom: 50px;

    .card2{
        text-align: center;
        background: #fff;
        margin-right: 2rem;
        margin-left: 2rem;
        border-radius: 10px;
        padding: 15px 2rem 2rem;
        display: flex;
        flex-direction: column;
        box-shadow: var(--box-shadow);
    }
}


.card-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   

    h2{
        font-size: 1.9rem;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
    }     
    
    h3{
        font-size: .9rem;
        color: var(--dark-gray);
        font-weight: 500;
        padding-bottom: 5px
    }

    .line{
        padding-top: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid var(--line);
        width: 20%;
    }

   
}
.bars{
    margin: 10px auto;
    height: 10px;
    width: 100%;
    background: var(--line);
    border-radius: 50px;
    position: relative;
    


    .bar{
        position: absolute;
        height: 10px;
        width: 80%;
        background: var(--Moderate-cyan);
        border-radius: 50px;
    }
}

// About

.section3{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3em;

}

.card3{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;

    h3{
        font-size: 1.2;
        color: var(--black-color);
    }
    
    p{
        margin-top: 1rem;
        color: var(--dark-gray);
        font-size: .95rem;
        line-height: 23px;
    }
}

.about-card{
    border: 1px solid var(--line);
    border-radius: 10px;
    padding: 1.2rem;
    margin-top: 25px;

    .break{
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 28px;

        span{
            color: var(--Moderate-cyan);
            display: block;
        }
    }

    p{
        font-size: 1rem;
        color: var(--dark-gray);

    }

    h4{
        font-size: .95rem;
        display: flex;
        
        align-items: center;
        color: var(--dark-gray);
        margin: 15px auto;

        span{
            font-size: 1.7rem;
            color: var(--black-color);
            margin-right: 10px;
        }
    }

    button{
        padding: 1rem 1.5rem;
        border: none;
        background: var(--Moderate-cyan);
        color: #fff;
        font-family: 'Commissioner', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 500px;
        margin-top: 10px;
    }

}

.about-card:last-child{
    opacity: .49;
}

// Support Modal

.support-modal{
    position: absolute;
    top: 0;
    z-index: 999999;
    background: var(--line);
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    visibility: hidden;
}

.support-modal.active{
    visibility: visible;
}

.support-modal-content{
    position: fixed;
    margin: 10rem 2rem 5rem;
    background: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;

}

.support-card{
    
    .checked-image{
        margin-top: 15px;
    }

    h2{
        margin-top: 15px;
        font-size: 1.49rem;
        font-weight: 600;
        color: var(--black-color);
    }

    p{
        color: var(--dark-gray);
        margin-top: 10px;
        line-height: 1.6rem;
    }
}

.support-modal-btn{
    margin: 2rem 25% 1rem;
    background: var(--Moderate-cyan);
    padding: 1rem 2rem;
    border-radius: 60px;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.me{
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    color: var(--Dark-cyan);
    font-weight: 700;
    padding-bottom: 30px;

    a{
        color: var(--black-color);
        text-decoration: underline;
    }
}

@media  screen and (min-width: 900px) {
    
    
    
    .main{
        background: url(../images/image-hero-desktop.jpg) no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 50vh;
        
    }
    .header{
        padding: 4rem 10rem 0;
        background: none;
        display: flex;
        flex-direction: row;

        .nav{
            visibility: visible;
            position: relative;
            overflow: unset;
            z-index: 999;
            height: unset;
            width: unset;
            background: none;
            backdrop-filter: unset;
            display: flex;
            
    
        
            .nav-item{
                visibility: visible;
                opacity: 1;
                position: relative;
                margin: 0 0 0 0;
                background: none;
                box-shadow: none;
                transform: translateY(0);
                display: flex;

                ul{
                    display: flex;
                    justify-content: space-between;
                }

                a{
                    text-decoration: none;
                    color: #fff;
                }

                li:not(:last-child){
                    margin-right: 2rem;
                }
      
               .nav-list{
                   padding: 0;
                   list-style-type: none;
                   font-size: 1rem;
                   font-weight: 400;
                   border-bottom: none;  
                }
            }


        }
    }
    .btns{
        display: none;
    }
    .section{
        display: flex;
    }

    .card-body{
        margin-right: 10rem;
        margin-left: 10rem;
        margin-top: -4%;
        width: 100%;
        max-width: 700px;
        position: relative;

        .text1{
            padding-top: 8%;
    
            h1{
                padding: 0 15%;
            }
    
            p{
                padding: 10px 3% 20px;
            }
        }
    }

        
    .back-the-pjt{
        display: flex;
        margin: 3% 4% 10%;
        justify-content: space-between;
        align-items: center;
        


        .btp{
            height: 50px;
            width: 100%;
            max-width: 200px;
            background: var(--Moderate-cyan);
            border-radius: 100px;
            color: #fff;
            font-size: 1rem;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover{
                background: var(--Dark-cyan);
            }
        }

        .bmk-setting{
            color: var(--dark-gray);
            cursor: pointer;
            position: relative;
            margin-right: 2rem;

            i{
                
                height: 55px;
                width: 55px;
                z-index: 9;
                background: rgba(17, 17, 17, 0.8);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-right: 100px;
            }

             h2{
                position: absolute;
                display: flex;
                z-index: 1;
                background: rgba(104, 99, 99, 0.1);
                padding: 12% 20% 12% 20%;
                top: 0;
                left: 20%;
                border-radius: 0 50px 50px 0;
                font-size: 1rem;
                font-weight: 700;
                color: var(--Moderate-cyan);
                font-family: "Commissioner", sans-serif;

            }
        }

        
        .bmk-setting.active{
            color: rgba(247, 243, 243, .9);

            i{
                background: var(--Dark-cyan);
            }
        }
    }


    
    .section2{
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .card2{
            background: #fff;
            margin-right: 10rem;
            margin-left: 10rem;
            max-width: 700px;
            width: 100%;
            border-radius: 10px;
            padding: 15px 2rem 2rem;
            display: flex;
            flex-direction: column;
            box-shadow: var(--box-shadow);
        }

        .arr-card{
            display: flex;
            flex-direction: row;

            
        }

        .card-text{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            padding-right: 8%;
            margin-bottom: 2%;

            h3{
                margin-top: -5px;
            }
            

            .line{
                position: absolute;
                text-align: center;
                width: 2px;
                height: 80%;
                background: var(--line);
                border-radius: 50px;
                left: 90%;
                top: 5px;
            }

        }

        .edit{
            padding-right: 15%;
            padding-left: 2%;
        }
        
    }

     .section3{
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
     }

    .card3{
        margin-right: 10rem;
        margin-left: 10rem;
        max-width: 700px;
        width: 100%;
    }

    .about-card{
        padding: 2rem;
        margin-top: 25px;
    
        .break{
            font-size: 1.1rem;
            font-weight: 600;
            line-height: 0;
            margin-bottom: 30px;
    
            span{
                color: var(--Moderate-cyan);
                display: flex;
                justify-content: flex-end;
            }
        }
    
        h4{
            font-size: .95rem;
            display: flex;
            align-items: center;
            color: var(--dark-gray);
            margin:8%  auto 15px;
    
            span{
                font-size: 1.7rem;
                color: var(--black-color);
                margin-right: 10px;
            }
        }

        .select-reward{
            cursor: pointer;
            float: right;
            margin-top: -10%;
        }
    
        button{
            cursor: pointer;
            padding: 1rem 1.5rem;
            border: none;
            background: var(--Moderate-cyan);
            color: #fff;
            font-family: 'Commissioner', sans-serif;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 500px;
            margin-top: 10px;
        }
    
    }


    .btp-modal{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -50%;
        left: 0;
        height: 150%;
        width: 100%;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(4px);
        opacity: 0;
        visibility: hidden;
        transition: .3s ease;
    }
        
    .modal-container{
        background: #fff;
        margin-right: 10rem;
        margin-left: 10rem;
        max-width: 700px;
        width: 100%;
        border-radius: 10px;
        padding-bottom: 10px;
        transform: translateY(-25px);
        opacity: 0;
        transition: .3s ease;

        .modal-top{
            position: relative;
            display: flex;
            align-items: center;
        }
    
    }

        
    .modal-card{
        margin:  0 1.5rem 2rem;
        border: 1.5px solid rgba(31, 29, 29, 0.2);
        border-radius: 10px;
        padding: 1rem ;
        position:relative;

        .top-flex{
            display: flex;
            align-items: center;
            margin-bottom: 3%;
            position: relative;
            cursor: pointer;

            .circle{
                position: absolute;
                height: 25px;
                width: 25px;
                border: 1px solid  rgba(31, 29, 29, 0.1);
                border-radius: 50%;
                margin-right: 5%;

                .inner-circle{
                    position: relative;
                    top : 50%;
                    left: 50%;
                    right: 50%;
                    transform: translate(-50%, -50%);
                    height: 12.5px;
                    width: 12.5px;
                    background: var(--Dark-cyan);
                    border-radius: 50%;
                    visibility: hidden;
                }
            }


            h3{
                margin-left: 2.3rem;
                width: 100%;
                span{
                    display: inline;
                    margin-left: 2%;
                }
            }

        }
        p{
            margin-right: 0;
            margin-left: 6%;
        }

        h4{
            position: absolute;
            top: 0;
            right: 0;
            margin: 2.5% 2rem;
            font-size: 1rem;
            color: var(--dark-gray);
            margin-bottom: 10px;

            span{
                font-size: 1.2rem;
                color: var(--black-color);
                margin-right: 3px;
            }
        }
        
    }
    
    .enter-pledge{
        margin-top: 8%;
        text-align: center;
        display: none;

        
        .eyp{
            display: block;
            font-size: 1rem;
            color: var(--dark-gray);
            font-weight: 500;
            padding-top: 4%;
            margin-left: 2%;
            float: left;


        }
        .br1{
            position: absolute;
            width: 100%;
            margin-top: -2.5%;
        }

        .align{
            display: flex;
            justify-content: flex-end;
            margin-top: 8%;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;

            .input-icon{
                position: relative;
                
                input{
                    text-align: center;
                    background: none;
                    outline: none;
                    border: 1px solid rgba(31, 29, 29, 0.1);
                    height: 50px;
                    font-size: 1.2rem;
                    font-family: 'Commissioner', sans-serif;
                    width: 100px;
                    border-radius: 90px;


                    &:hover{
                        box-shadow: hsl(176, 72%, 28%) 0px 0px 2px;
                    }
                    
                }
                i{
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 15px 15px;
                }
            }
            button{
                border: none;
                background: var(--Moderate-cyan);
                margin-left: 15px;
                cursor: pointer;

                &:hover{
                    background: var(--Dark-cyan);
                }
            }
        }
    }
    .modal-card:not(:last-child).active{
    
        .enter-pledge{
            display: block;
        }
    
        .top-flex{
    
            .inner-circle{
                visibility: visible;
            }
        }
    
    } 

    
    .support-modal{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .support-modal-content{
        max-width: 500px;
        width: 100%;
    }

}