:root {
  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);
  --black-color: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --font: 'Commissioner', san-serif;
  --line: rgba(31, 29, 29, 0.1);
}

*, *::before, *::after, body, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--font);
  background: #f0f0f0;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}

.main {
  background: url(../images/image-hero-mobile.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
}

.header {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .logo {
  z-index: 9999;
}

.nav {
  position: absolute;
  overflow: hidden;
  z-index: 999;
  height: 200vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--line)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to bottom, var(--line) 50%, rgba(255, 255, 255, 0.5));
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
  visibility: hidden;
}

.nav .nav-item {
  position: absolute;
  z-index: 999;
  top: 55%;
  left: 2rem;
  right: 2rem;
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  visibility: hidden;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.nav .nav-item a {
  text-decoration: none;
  color: var(--black-color);
}

.nav .nav-item .nav-list {
  padding: 2rem 1.5rem;
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(31, 29, 29, 0.1);
}

.nav.active {
  visibility: visible;
  overflow: hidden;
  position: fixed;
}

.nav.active .nav-item {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.body.active {
  overflow: hidden;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  z-index: 9999;
}

.btns .nav-menu {
  display: block;
}

.btns .nav-menu-close {
  display: none;
}

.btns.active .nav-menu {
  display: none;
}

.btns.active .nav-menu-close {
  display: block;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.card-body {
  background: white;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: -15%;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  position: relative;
}

.card-body .m-logo {
  position: absolute;
  top: -10%;
  left: 43%;
  right: 43%;
  -webkit-transform: translateY(-50%, -50%);
          transform: translateY(-50%, -50%);
}

.card-body .m-logo img {
  width: 50px;
  height: 50px;
}

.card-body .text1 {
  text-align: center;
  padding-top: 13%;
}

.card-body .text1 h1 {
  font-size: 1.5rem;
  padding: 0 15%;
  font-weight: 700;
}

.card-body .text1 p {
  padding: 10px 5% 20px;
  font-size: 1.09rem;
  color: var(--dark-gray);
}

.back-the-pjt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5% 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-the-pjt .btp {
  height: 50px;
  width: 100%;
  max-width: 200px;
  background: var(--Moderate-cyan);
  border-radius: 100px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.back-the-pjt .bmk-setting {
  color: var(--dark-gray);
  cursor: pointer;
}

.back-the-pjt .bmk-setting i {
  height: 55px;
  width: 55px;
  background: rgba(17, 17, 17, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.back-the-pjt .bmk-setting h2 {
  display: none;
}

.bmk-setting.active {
  color: rgba(247, 243, 243, 0.9);
}

.bmk-setting.active i {
  background: var(--Dark-cyan);
}

.bmk-setting.inactive {
  color: rgba(248, 200, 200, 0.9);
}

.bmk-setting.inactive i {
  background: var(--Dark-cyan);
}

.btp-modal {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.btp-modal.active {
  visibility: visible;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 1;
}

.btp-modal.active .modal-container {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.modal-container {
  background: #fff;
  margin: 8% 2rem;
  bottom: 100px;
  border-radius: 8px;
  padding-bottom: 10px;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.modal-container .modal-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .modal-top h2 {
  padding: 2rem 1.5rem 0;
  font-size: 1.2rem;
}

.modal-container .modal-top .modal-close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2.4rem 1.5rem;
  cursor: pointer;
}

.modal-container > p {
  margin: 1.3rem 1.5rem;
  color: var(--dark-gray);
  font-size: 1rem;
}

.modal-card {
  margin: 0 1.5rem 2rem;
  border: 1.5px solid rgba(31, 29, 29, 0.2);
  border-radius: 10px;
  padding: 1rem;
  position: relative;
}

.modal-card .top-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9%;
  position: relative;
  cursor: pointer;
}

.modal-card .top-flex .circle {
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid rgba(31, 29, 29, 0.1);
  border-radius: 50%;
  margin-right: 5%;
}

.modal-card .top-flex .circle .inner-circle {
  position: relative;
  top: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 12.5px;
  width: 12.5px;
  background: var(--Dark-cyan);
  border-radius: 50%;
  visibility: hidden;
}

.modal-card .top-flex h2 {
  font-size: 1.1rem;
  font-weight: 700;
}

.modal-card .top-flex h3 {
  margin-left: 2.3rem;
  width: 100%;
  line-height: 28px;
  margin-left: 2.3rem;
}

.modal-card .top-flex h3 span {
  display: block;
  color: var(--Moderate-cyan);
}

.modal-card p {
  margin-right: 8%;
  font-size: 1rem;
  color: var(--dark-gray);
  margin-bottom: 10px;
}

.modal-card h4 {
  font-size: 1.1rem;
  color: var(--dark-gray);
  margin-bottom: 10px;
}

.modal-card h4 span {
  font-size: 5.2vw;
  color: var(--black-color);
  margin-right: 3px;
}

.modal-card:not(:last-child).active {
  border: 2px solid #3cb4ac;
}

.modal-card:not(:last-child).active .enter-pledge {
  display: block;
}

.modal-card:not(:last-child).active .top-flex .inner-circle {
  visibility: visible;
}

.enter-pledge {
  margin-top: 8%;
  text-align: center;
  display: none;
}

.enter-pledge .eyp {
  display: block;
  font-size: 1.1rem;
  color: var(--dark-gray);
  font-weight: 500;
  padding-top: 6%;
}

.enter-pledge .br1 {
  position: absolute;
  width: 100%;
  margin-top: -5.5%;
  border-top: 2px solid rgba(31, 29, 29, 0.1);
  left: 0;
}

.enter-pledge .align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 8%;
  padding-bottom: 30px;
  position: relative;
}

.enter-pledge .align .input-icon {
  position: relative;
}

.enter-pledge .align .input-icon input {
  text-align: center;
  outline: none;
  border: 1px solid rgba(31, 29, 29, 0.1);
  height: 50px;
  font-size: 1.2rem;
  font-family: 'Commissioner', sans-serif;
  width: 100px;
  border-radius: 90px;
}

.enter-pledge .align .input-icon i {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px 15px;
}

.enter-pledge .align button {
  border: none;
  background: var(--Moderate-cyan);
  color: #fff;
  font-size: 1rem;
  padding: 2% 8%;
  border-radius: 500px;
  cursor: pointer;
}

.modal-card:last-child {
  opacity: .5;
}

::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.section2 {
  margin-top: 30px;
  margin-bottom: 50px;
}

.section2 .card2 {
  text-align: center;
  background: #fff;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 10px;
  padding: 15px 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-text h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-text h3 {
  font-size: .9rem;
  color: var(--dark-gray);
  font-weight: 500;
  padding-bottom: 5px;
}

.card-text .line {
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--line);
  width: 20%;
}

.bars {
  margin: 10px auto;
  height: 10px;
  width: 100%;
  background: var(--line);
  border-radius: 50px;
  position: relative;
}

.bars .bar {
  position: absolute;
  height: 10px;
  width: 80%;
  background: var(--Moderate-cyan);
  border-radius: 50px;
}

.section3 {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3em;
}

.card3 {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.card3 h3 {
  font-size: 1.2;
  color: var(--black-color);
}

.card3 p {
  margin-top: 1rem;
  color: var(--dark-gray);
  font-size: .95rem;
  line-height: 23px;
}

.about-card {
  border: 1px solid var(--line);
  border-radius: 10px;
  padding: 1.2rem;
  margin-top: 25px;
}

.about-card .break {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 28px;
}

.about-card .break span {
  color: var(--Moderate-cyan);
  display: block;
}

.about-card p {
  font-size: 1rem;
  color: var(--dark-gray);
}

.about-card h4 {
  font-size: .95rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--dark-gray);
  margin: 15px auto;
}

.about-card h4 span {
  font-size: 1.7rem;
  color: var(--black-color);
  margin-right: 10px;
}

.about-card button {
  padding: 1rem 1.5rem;
  border: none;
  background: var(--Moderate-cyan);
  color: #fff;
  font-family: 'Commissioner', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 500px;
  margin-top: 10px;
}

.about-card:last-child {
  opacity: .49;
}

.support-modal {
  position: absolute;
  top: 0;
  z-index: 999999;
  background: var(--line);
  height: 100vh;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  visibility: hidden;
}

.support-modal.active {
  visibility: visible;
}

.support-modal-content {
  position: fixed;
  margin: 10rem 2rem 5rem;
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
}

.support-card .checked-image {
  margin-top: 15px;
}

.support-card h2 {
  margin-top: 15px;
  font-size: 1.49rem;
  font-weight: 600;
  color: var(--black-color);
}

.support-card p {
  color: var(--dark-gray);
  margin-top: 10px;
  line-height: 1.6rem;
}

.support-modal-btn {
  margin: 2rem 25% 1rem;
  background: var(--Moderate-cyan);
  padding: 1rem 2rem;
  border-radius: 60px;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.me {
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  color: var(--Dark-cyan);
  font-weight: 700;
  padding-bottom: 30px;
}

.me a {
  color: var(--black-color);
  text-decoration: underline;
}

@media screen and (min-width: 900px) {
  .main {
    background: url(../images/image-hero-desktop.jpg) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 50vh;
  }
  .header {
    padding: 4rem 10rem 0;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .nav {
    visibility: visible;
    position: relative;
    overflow: unset;
    z-index: 999;
    height: unset;
    width: unset;
    background: none;
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .nav .nav-item {
    visibility: visible;
    opacity: 1;
    position: relative;
    margin: 0 0 0 0;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .nav .nav-item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .nav .nav-item a {
    text-decoration: none;
    color: #fff;
  }
  .header .nav .nav-item a:not(:last-child) {
    margin-right: 2rem;
  }
  .header .nav .nav-item .nav-list {
    padding: 0;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 400;
    border-bottom: none;
  }
  .btns {
    display: none;
  }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card-body {
    margin-right: 10rem;
    margin-left: 10rem;
    margin-top: -4%;
    width: 100%;
    max-width: 700px;
    position: relative;
  }
  .card-body .text1 {
    padding-top: 8%;
  }
  .card-body .text1 h1 {
    padding: 0 15%;
  }
  .card-body .text1 p {
    padding: 10px 3% 20px;
  }
  .back-the-pjt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3% 4% 10%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .back-the-pjt .btp {
    height: 50px;
    width: 100%;
    max-width: 200px;
    background: var(--Moderate-cyan);
    border-radius: 100px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .back-the-pjt .btp:hover {
    background: var(--Dark-cyan);
  }
  .back-the-pjt .bmk-setting {
    color: var(--dark-gray);
    cursor: pointer;
    position: relative;
    margin-right: 2rem;
  }
  .back-the-pjt .bmk-setting i {
    height: 55px;
    width: 55px;
    z-index: 9;
    background: rgba(17, 17, 17, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    margin-right: 100px;
  }
  .back-the-pjt .bmk-setting h2 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    background: rgba(104, 99, 99, 0.1);
    padding: 12% 20% 12% 20%;
    top: 0;
    left: 20%;
    border-radius: 0 50px 50px 0;
    font-size: 1rem;
    font-weight: 700;
    color: var(--Moderate-cyan);
    font-family: "Commissioner", sans-serif;
  }
  .back-the-pjt .bmk-setting.active {
    color: rgba(247, 243, 243, 0.9);
  }
  .back-the-pjt .bmk-setting.active i {
    background: var(--Dark-cyan);
  }
  .section2 {
    margin-top: 30px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .card2 {
    background: #fff;
    margin-right: 10rem;
    margin-left: 10rem;
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    padding: 15px 2rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
  }
  .section2 .arr-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section2 .card-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    padding-right: 8%;
    margin-bottom: 2%;
  }
  .section2 .card-text h3 {
    margin-top: -5px;
  }
  .section2 .card-text .line {
    position: absolute;
    text-align: center;
    width: 2px;
    height: 80%;
    background: var(--line);
    border-radius: 50px;
    left: 90%;
    top: 5px;
  }
  .section2 .edit {
    padding-right: 15%;
    padding-left: 2%;
  }
  .section3 {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card3 {
    margin-right: 10rem;
    margin-left: 10rem;
    max-width: 700px;
    width: 100%;
  }
  .about-card {
    padding: 2rem;
    margin-top: 25px;
  }
  .about-card .break {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 0;
    margin-bottom: 30px;
  }
  .about-card .break span {
    color: var(--Moderate-cyan);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .about-card h4 {
    font-size: .95rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--dark-gray);
    margin: 8%  auto 15px;
  }
  .about-card h4 span {
    font-size: 1.7rem;
    color: var(--black-color);
    margin-right: 10px;
  }
  .about-card .select-reward {
    cursor: pointer;
    float: right;
    margin-top: -10%;
  }
  .about-card button {
    cursor: pointer;
    padding: 1rem 1.5rem;
    border: none;
    background: var(--Moderate-cyan);
    color: #fff;
    font-family: 'Commissioner', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 500px;
    margin-top: 10px;
  }
  .btp-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: -50%;
    left: 0;
    height: 150%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .modal-container {
    background: #fff;
    margin-right: 10rem;
    margin-left: 10rem;
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 10px;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .modal-container .modal-top {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-card {
    margin: 0 1.5rem 2rem;
    border: 1.5px solid rgba(31, 29, 29, 0.2);
    border-radius: 10px;
    padding: 1rem;
    position: relative;
  }
  .modal-card .top-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3%;
    position: relative;
    cursor: pointer;
  }
  .modal-card .top-flex .circle {
    position: absolute;
    height: 25px;
    width: 25px;
    border: 1px solid rgba(31, 29, 29, 0.1);
    border-radius: 50%;
    margin-right: 5%;
  }
  .modal-card .top-flex .circle .inner-circle {
    position: relative;
    top: 50%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 12.5px;
    width: 12.5px;
    background: var(--Dark-cyan);
    border-radius: 50%;
    visibility: hidden;
  }
  .modal-card .top-flex h3 {
    margin-left: 2.3rem;
    width: 100%;
  }
  .modal-card .top-flex h3 span {
    display: inline;
    margin-left: 2%;
  }
  .modal-card p {
    margin-right: 0;
    margin-left: 6%;
  }
  .modal-card h4 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2.5% 2rem;
    font-size: 1rem;
    color: var(--dark-gray);
    margin-bottom: 10px;
  }
  .modal-card h4 span {
    font-size: 1.2rem;
    color: var(--black-color);
    margin-right: 3px;
  }
  .enter-pledge {
    margin-top: 8%;
    text-align: center;
    display: none;
  }
  .enter-pledge .eyp {
    display: block;
    font-size: 1rem;
    color: var(--dark-gray);
    font-weight: 500;
    padding-top: 4%;
    margin-left: 2%;
    float: left;
  }
  .enter-pledge .br1 {
    position: absolute;
    width: 100%;
    margin-top: -2.5%;
  }
  .enter-pledge .align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
  }
  .enter-pledge .align .input-icon {
    position: relative;
  }
  .enter-pledge .align .input-icon input {
    text-align: center;
    background: none;
    outline: none;
    border: 1px solid rgba(31, 29, 29, 0.1);
    height: 50px;
    font-size: 1.2rem;
    font-family: 'Commissioner', sans-serif;
    width: 100px;
    border-radius: 90px;
  }
  .enter-pledge .align .input-icon input:hover {
    -webkit-box-shadow: #147b74 0px 0px 2px;
            box-shadow: #147b74 0px 0px 2px;
  }
  .enter-pledge .align .input-icon i {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px 15px;
  }
  .enter-pledge .align button {
    border: none;
    background: var(--Moderate-cyan);
    margin-left: 15px;
    cursor: pointer;
  }
  .enter-pledge .align button:hover {
    background: var(--Dark-cyan);
  }
  .modal-card:not(:last-child).active .enter-pledge {
    display: block;
  }
  .modal-card:not(:last-child).active .top-flex .inner-circle {
    visibility: visible;
  }
  .support-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .support-modal-content {
    max-width: 500px;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */